<app-main-nav>
  <mat-card>
    <div class = "example-button-row class1">
      <button mat-raised-button color="primary" (click)=itemsadd()>+ Add</button>
      </div>
    
<br>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Weight Column -->
    
    <!-- Item Id -->
    <ng-container matColumnDef="Item_id">
      <th mat-header-cell *matHeaderCellDef class="head"> Item Id </th>
      <td mat-cell *matCellDef="let element"> {{element.Item_id}} </td>
    </ng-container>
    <!--Item Id-->
    <ng-container matColumnDef="Company_id">
      <th mat-header-cell *matHeaderCellDef class="head"> Company Id </th>
      <td mat-cell *matCellDef="let element"> {{element.Company_id}} </td> 
    </ng-container>
    <!--Item Name-->
      <ng-container matColumnDef="Item_name">
        <th mat-header-cell *matHeaderCellDef class="head"> Item Name </th>
        <td mat-cell *matCellDef="let element"> {{element.Item_name}} </td>
      </ng-container>

      <ng-container matColumnDef="Actions">
        <th mat-header-cell *matHeaderCellDef class="head">&nbsp;&nbsp;&nbsp;&nbsp; Actions</th>
        <td  mat-cell *matCellDef="let element">       
          <button mat-button ><i class="material-icons icon-blue " (click)="itemsedit()">edit</i> </button>
          <button mat-button ><i class="material-icons icon-red " (click)="delete(element)">delete</i> </button></td>
      </ng-container>
  
  
    

   <!-- <ng-container>
      <mat-card-actions>
      <th mat-header-cell *matHeaderCellDef> Action </th>
     <td>
        <button class="btn btn-info" value="edit" >Edit</button> 
      </td>
    </mat-card-actions>
    </ng-container>-->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</mat-card>
</app-main-nav>

