<!-- <app-main-nav>
  <mat-card>
  <form [formGroup]="createForm" (click)="onUpdate()">
    <div class="col-md-5">
  <div class="form-group">
    <label for="name">Country Name:</label>
    <input type="text" class="form-control" formControlName="name" id="name" name="name" >
   </div>
  </div>
   <div>
    <button class="btn btn-success">Update</button>&nbsp;
   </div>
  </form>
</mat-card>
</app-main-nav> -->


<app-main-nav>
  <mat-card>
  <form [formGroup]="createForm" class="normal-form" (submit)="onUpdate()">
    <div class="col-md-6 test">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Country Name</mat-label>
        <input formControlName="name" matInput placeholder="Country Name"/>
      </mat-form-field>
    </div>
   <div class="button-row">
    <button mat-raised-button color="primary" type="submit">Update</button>
   </div>
  </form>
</mat-card>
</app-main-nav>