<app-main-nav layout-align="center center">
  <mat-card class="card-container">
<form class="example-form">
  <mat-card-title>Add Items Information </mat-card-title>
<br>
<mat-label>Item Id</mat-label>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Enter the item id">
  </mat-form-field>

  <br>
<br>
  <mat-label>Company Id</mat-label>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Enter the company id">
  </mat-form-field>

  <br>
<br>
  <mat-label>Item Name</mat-label>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Enter the item name">
  </mat-form-field>


<mat-card-actions>
  <button mat-raised-button (click)="save()" color="primary">Save</button>
</mat-card-actions>
</form>
  </mat-card>
</app-main-nav>

