<h1 mat-dialog-title color="warn">Login</h1>
<div mat-dialog-content>
<form>
  <mat-form-field appearance="outline">
    <mat-label>Email/Phone Number</mat-label>
    <input matInput placeholder="Email/Phone Number" type="text"> 
  </mat-form-field>
<br>
  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input matInput placeholder="Password" type="password">
  </mat-form-field>
</form>
</div>
<br>
<div mat-dialog-actions>
  <button mat-raised-button color="warn" (click)="hideModel()">Cancel</button>
  <button mat-raised-button color="warn" (click)="login()">Login</button>
</div>
