<app-main-nav>
  <div class="search-div">
    <button mat-raised-button (click)="onCreate()">
      <mat-icon>add</mat-icon>Create
    </button>
    <mat-form-field class="search-form-field" floatLabel="never">
      <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
      <button mat-button matSuffix mat-icon-button aria-label="Clear"*ngIf="searchKey"  (click)="onSearchClear()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="mat-elevation-z8">
    <mat-table [dataSource]="listData"  matSort>
      <ng-container matColumnDef="Name">
        <mat-header-cell *matHeaderCellDef  mat-sort-header>Name</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.firstName}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="gstNumber">
        <mat-header-cell *matHeaderCellDef  mat-sort-header>GST Number</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.gstNumber}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="panNumber">
        <mat-header-cell *matHeaderCellDef  mat-sort-header>PAN Number</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.panNumber}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="bankName">
        <mat-header-cell *matHeaderCellDef  mat-sort-header>Bank Name</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.bankName}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="accountNumber">
        <mat-header-cell *matHeaderCellDef  mat-sort-header>Account Number</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.accountNumber}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="ifsccode">
        <mat-header-cell *matHeaderCellDef  mat-sort-header>IFSC Code</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.ifsccode}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="country">
        <mat-header-cell *matHeaderCellDef  mat-sort-header>Country</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.country}}</mat-cell>
      </ng-container> 
     <ng-container matColumnDef="stateName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>State</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.state}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="cityName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>City</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.city}}</mat-cell>
      </ng-container>

       <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button mat-icon-button (click)="editEmp(emp)"><mat-icon>launch</mat-icon></button>
          <button mat-icon-button color="warn" (click)="deleteEmp(emp)"><mat-icon>delete_outline</mat-icon></button>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="loading">
        <mat-footer-cell *matFooterCellDef colspan="6">
          Loading data...
        </mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="noData">
        <mat-footer-cell *matFooterCellDef colspan="6">
          No data.
        </mat-footer-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listData!=null}"></mat-footer-row>
      <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(listData!=null && listData.data.length==0)}"></mat-footer-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
  </div>
</app-main-nav> 
