<app-main-nav>
  <mat-card>
  <form [formGroup]="createForm" class="normal-form" (submit)="onSubmit()">
    <div class="col-md-6 test">
      
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Id</mat-label>
          <input formControlName="id" matInput placeholder="Id"/>
        </mat-form-field>
      
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Country Name</mat-label>
        <input formControlName="name" matInput placeholder="Country Name"/>
      </mat-form-field>
    </div>
   <div class="button-row">
    <button mat-raised-button color="primary" type="submit">Submit</button>
   </div>
  </form>
</mat-card>
</app-main-nav>
