.test ::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;}
.test::ng-deep .mat-form-field-label-wrapper { top: -1.5em; }

.test::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
}
mat-form-field mat-label {
  font-size: 14px;
}
mat-form-field.mat-form-field-should-float mat-label {
  font-size: 13px;
} 