.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
.mat-card-title{
  border-bottom: solid 2px rgb(172, 185, 184);
}
  .example-full-width {
    width: 100%;
  }
  .mat-card{
      width: 50%;
      border: solid 2px rgb(172, 185, 184) ;
  }
  .card-container {
    /*  not needed styles to reflect it */ 
    background: white;
    padding: 50px;
    color: black;
    width: 500px;
    margin: 3% 20%;
  
    /* needed styles below */
    display: flex;
    justify-content: space-between;
  }