<app-main-nav layout-align="center center">
  <mat-card class="card-container">
<form [formGroup]="addForm"  class="example-form">
  <mat-card-title>Add Category Information </mat-card-title>
<br>
<mat-label>Category Id</mat-label>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Enter the category id" formControlName = "id">
  </mat-form-field>
  <br>
<br>
  <mat-label>Category Name</mat-label>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Enter the category name" formControlName = "Category_name">
  </mat-form-field>
  <br>
  <br>

<mat-card-actions>
  <button mat-raised-button (click)="save()" color="primary">Save</button>
</mat-card-actions>
</form>
  </mat-card>
</app-main-nav>
