<app-main-nav layout-align="center center">
  <mat-card class="card-container">
<form [formGroup]="addForm"  class="example-form">
  <mat-card-title>Add Company Information </mat-card-title>
<br>
<mat-label>Category Id</mat-label>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Enter the category id" formControlName = "Category_id">
  </mat-form-field>

  <br>
<br>
  <mat-label>Company Id</mat-label>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Enter the company id" formControlName = "Company_id">
  </mat-form-field>

  <br>
<br>
  <mat-label>Company Name</mat-label>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Enter the company name" formControlName = "Company_name">
  </mat-form-field>


<mat-card-actions>
  <button mat-raised-button (click)="save()" color="primary">Save</button>
</mat-card-actions>
</form>
  </mat-card>

</app-main-nav>

