<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="false" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'push' : 'side'" [opened]="!(isHandset$ | async)">
    <mat-toolbar>Admin</mat-toolbar>
    <button mat-button [matMenuTriggerFor]="genral" >Genaral</button>

    
     <mat-menu #genral="matMenu" xPosition="after" yPosition="below">
      <button mat-menu-item (click)=gocategory()>Category</button>
      <!-- <router-outlet></router-outlet> -->
      <button mat-menu-item (click)=company()>Company</button>
      <button mat-menu-item (click)=items()>Items</button>
      <button mat-menu-item (click)=roles()>Roles</button>
    </mat-menu>
    <br>
    <button mat-button [matMenuTriggerFor]="retailers">Retailers</button>
    <mat-menu #retailers="matMenu">
      <button mat-menu-item (click)=goreg()>Retailers Registration</button>
      <button mat-menu-item (click)=golist()>Retailers List</button>
      <!-- <button mat-menu-item (click)=goedit()>Add Retailers</button> -->
    </mat-menu>
    <br>
    <button mat-button [matMenuTriggerFor]="countries">Location Management</button>
    <mat-menu #countries="matMenu">
      <button mat-menu-item (click)=gocount()>Country</button>
      <button mat-menu-item>State</button>
      <button mat-menu-item>City</button>
      <button mat-menu-item (click)=gocsc()>dropdown</button>
    </mat-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="warn">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span></span>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>