<app-main-nav>
  <mat-card>
    <div class = "example-button-row class1" >
      <button mat-raised-button color="primary" (click)=catadd()>+ Add</button>
      
      </div>
    
<br>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Weight Column -->
    
    <!-- Role Id -->
    <ng-container matColumnDef="Role_id">
      <th mat-header-cell *matHeaderCellDef class="head"> Role Id </th>
      <td mat-cell *matCellDef="let element"> {{element.Role_id}} </td>
    </ng-container>
    <!--Role Name-->
    <ng-container matColumnDef="Role_name">
      <th mat-header-cell *matHeaderCellDef class="head"> Role Name </th>
      <td mat-cell *matCellDef="let element"> {{element.Role_name}} 
    </ng-container>

    <ng-container matColumnDef="Actions">
      <th mat-header-cell *matHeaderCellDef class="head">&nbsp;&nbsp;&nbsp;&nbsp;Actions </th>
      <td  mat-cell *matCellDef="let element">       
       <button mat-button ><i class="material-icons icon-blue edt " (click)="catedit()">edit</i></button>
        <button mat-button ><i class="material-icons icon-red " (click)="delete(element)">delete</i></button></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
</mat-card>
</app-main-nav>
