table{
  width: 80%;
  margin: 1% 5%;
  background-color: white;
  border: solid 2px rgb(172, 185, 184) ;
  text-align-last: 2%;
}
.mat-card{
  height: 85%;
}
.button{
  margin-left: 80%;
  margin-right: 10%;
  margin-bottom: 20px;
}
i.icon-blue {
  color: #673AB7;
}
i.icon-red {
  color: red;
}
.page{
  margin-top: 25%;
}
.mat-row:nth-child(odd){
  background-color:#dee2e6;
  }
.mat-header-cell{
  font-size: larger;
  font-weight: bold;
  border-bottom: rgb(172, 185, 184) solid 3px;
    padding-left: 1em;
}