<app-main-nav>
  <mat-card>
    <div class = "example-button-row class1">
      <button mat-raised-button color="primary" (click)=companyadd()>+ Add</button>
      </div>
    
<br>
  <mat-table #Table [dataSource]="company1" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Weight Column -->
    
    <!-- Category Id -->
    <ng-container matColumnDef="Category_id">
      <mat-header-cell *matHeaderCellDef > Category Id </mat-header-cell>
      <mat-cell *matCellDef="let company"> {{company.Category_id}} </mat-cell>
    </ng-container>
    <!--Category-->
    <ng-container matColumnDef="Company_id">
      <mat-header-cell *matHeaderCellDef> Company Id </mat-header-cell>
      <mat-cell *matCellDef="let company"> {{company.Company_id}} </mat-cell> 
    </ng-container>

    <ng-container matColumnDef="Company_name">
      <mat-header-cell *matHeaderCellDef> Company Name </mat-header-cell>
      <mat-cell *matCellDef="let company"> {{company.Company_name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Actions">
        <mat-header-cell *matHeaderCellDef> Actions</mat-header-cell>
        <mat-cell *matCellDef="let company">       
          <button mat-button ><i class="material-icons icon-blue " (click)="companyedit()">edit</i> </button>
          <button mat-button ><i class="material-icons icon-red " (click)="delete(element)">delete</i></button> </mat-cell>
      </ng-container>
   
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</mat-card>
</app-main-nav>
