<app-main-nav layout-align="center center">
  <mat-card class="card-container">
<form class="example-form">
  <mat-card-title>Edit Company Information </mat-card-title>
<br>
<mat-label>Category Id</mat-label>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Enter the category id">
  </mat-form-field>

  <br>
<br>
  <mat-label>Company Id</mat-label>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Enter the company id">
  </mat-form-field>

  <br>
<br>
  <mat-label>Company Name</mat-label>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Enter the company name">
  </mat-form-field>


<mat-card-actions>
  <button mat-raised-button (click)="update()" color="primary">Update</button>
</mat-card-actions>
</form>
  </mat-card>

</app-main-nav>


