<!-- <app-main-nav>
	<form [formGroup]="service.form" class="normal-form"  (submit)="onUpdate()">
	<mat-card>
		<h4 class="pb-2">Retailers Registration Form</h4>
		<div class="row">
				<input type="hidden" formControlName="$key">
			<div class="col-md-6 test">
				<mat-form-field appearance="outline" class="w-100">
					<mat-label>First Name</mat-label>
					<input formControlName="firstName" matInput placeholder="First Name*" required/>
					<mat-error>This field is mandatory</mat-error>
				</mat-form-field>
			</div>
			<div class="col-md-6 test">
				<mat-form-field appearance="outline" class="w-100">
					<mat-label>Last Name</mat-label>
					<input formControlName="lastName" matInput placeholder="Last Name" />
					<mat-error>This field is mandatory</mat-error>
				</mat-form-field>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 test">
		<mat-form-field appearance="outline" class="w-100">
				<mat-label>Country</mat-label>
			<mat-select formControlName="country" placeholder="country*" required>
			  <mat-option>None</mat-option>
			  <ng-container *ngFor="let country of countryService.country_array">
				<mat-option value="{{country.$key}}">{{country.code}}-{{country.name}}</mat-option>
			  </ng-container>
			</mat-select>
		  </mat-form-field>
			</div>
			<div class="col-md-4 test">
					<mat-form-field appearance="outline" class="w-100">
						<mat-label>State</mat-label>
						<mat-select formControlName="state" placeholder="state*" required>
								<mat-option>None</mat-option>
								<ng-container *ngFor="let state of stateService.state_array">
									<mat-option value="{{state.$key}}">{{state.code}}-{{state.name}}</mat-option>
									</ng-container>
							  </mat-select>
							<mat-error>This field is mandatory</mat-error>
						</mat-form-field>

			</div>
			<div class="col-md-4 test">
					<mat-form-field appearance="outline" class="w-100">
						<mat-label>City</mat-label>
						<mat-select formControlName="city" placeholder="city*" required>
								<mat-option>None</mat-option>
								<ng-container *ngFor="let city of cityService.city_array">
									<mat-option value="{{city.$key}}">{{city.name}}</mat-option>
									</ng-container>
							  </mat-select>
							<mat-error>This field is mandatory</mat-error>
						</mat-form-field>
			</div>
		</div>
		<div class="test">
			<mat-form-field appearance="outline" class="w-100">
				<mat-label>Address</mat-label>
				<input formControlName="address" matInput placeholder="address*" required/>
				<mat-error>This field is mandatory</mat-error>
			</mat-form-field>
		</div>
		<div class="row">
			<div class="col-md-6 test">
				<mat-form-field appearance="outline" class="w-100">
					<mat-label>GST Number</mat-label>
					<input formControlName="gstNumber"
					 matInput placeholder="GST Number*" required/>
					 <mat-error *ngIf="service.form.controls['gstNumber'].errors?.required">This field is mandatory.</mat-error>
           <mat-error *ngIf="service.form.controls['gstNumber'].errors?.minlength">Minimum 15 charactors needed.</mat-error>
				</mat-form-field>
			</div>
			<div class="col-md-6 test">
				<mat-form-field appearance="outline" class="w-100">
					<mat-label>PAN Number</mat-label>
					<input formControlName="panNumber"
					 matInput placeholder="PAN Number*" required/>
					 <mat-error *ngIf="service.form.controls['panNumber'].errors?.required">This field is mandatory.</mat-error>
					 <mat-error *ngIf="service.form.controls['panNumber'].errors?.minlength">Minimum 10 charactors needed.</mat-error>
					 <mat-error *ngIf="service.form.controls['panNumber'].errors?.pattern">Please enter a valid!</mat-error>
				</mat-form-field>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 test">
				<mat-form-field appearance="outline" class="w-100">
					<mat-label>Bank Name</mat-label>
					<input formControlName="bankName" matInput placeholder="Bank Name*" required/>
					<mat-error>This field is required</mat-error>
				</mat-form-field>
			</div>
			<div class="col-md-4 test">
				<mat-form-field appearance="outline" class="w-100">
					<mat-label>Account Number</mat-label>
					<input formControlName="accountNumber" 
					matInput placeholder="Bankaccountno*" required />
          <mat-error *ngIf="service.form.controls['accountNumber'].errors?.required">This field is mandatory.</mat-error>
           <mat-error *ngIf="service.form.controls['accountNumber'].errors?.minlength">Minimum 16 charactors needed.</mat-error>
				</mat-form-field>
			</div>
			<div class="col-md-4 test">
				<mat-form-field appearance="outline" class="w-100">
					<mat-label>IFSC Code</mat-label>
					<input formControlName="ifsccode" 
					 matInput placeholder="IFSCCode*" required/>
					 <mat-error *ngIf="service.form.controls['ifsccode'].errors?.required">This field is mandatory.</mat-error>
					 <mat-error *ngIf="service.form.controls['ifsccode'].errors?.minlength">Minimum 11 charactors needed.</mat-error>
					 <mat-error *ngIf="service.form.controls['ifsccode'].errors?.pattern">Please enter a valid!</mat-error>
				</mat-form-field>
			</div>
		</div>
		<div class="button-row">
			<button mat-raised-button color="primary" type="submit" [disabled]="service.form.invalid">Update</button>
			<button mat-raised-button color="warn" (click)="onClear()">Clear</button>
		  </div>
	
		
	</mat-card>

</form>

</app-main-nav> -->