<app-main-nav>
  <br>
  <mat-card class="example-card">
    <img mat-card-image src="https://cdn.shopify.com/s/files/1/0077/0539/5236/files/retailer_icon_0236ce22-24fc-4729-902c-e4626a2abbef_large.png?v=1555504461" alt="Photo of a Shiba Inu"> 
    <mat-card-actions>
      <button mat-button matBadge="15" matBadgeColor="warn">Total</button>
      <button mat-button matBadge="100" matBadgeColor="warn">New</button>
    </mat-card-actions>
  </mat-card>
</app-main-nav>

