<app-main-nav>
  <mat-card>  
    <div class="alert alert-info">  
        <strong>Country DataTable</strong>  
    </div>  
    <div class="mb-3">
      <button mat-raised-button color="primary" type="submit" (click)="onCreate()">Create</button>
     </div>
    <div class="example-container mat-elevation-z8">  
        <mat-table #Table [dataSource]="countries">  
  
            <!-- For ID -->  
            <ng-container matColumnDef="id">  
                <mat-header-cell *matHeaderCellDef>Country ID </mat-header-cell>  
                <mat-cell *matCellDef="let post"> {{post.id}} </mat-cell>  
            </ng-container>   
  
            <!-- For Title -->  
            <ng-container matColumnDef="name">  
                <mat-header-cell *matHeaderCellDef> Country Names</mat-header-cell>  
                <mat-cell *matCellDef="let post"> {{post.name}} </mat-cell>  
            </ng-container>  
           

              <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <button mat-icon-button (click)="editCount(row)"><mat-icon>launch</mat-icon></button>
                  <button mat-icon-button color="warn" (click)="deleteCount(row)"><mat-icon>delete_outline</mat-icon></button>
                </mat-cell>
              </ng-container>
  
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>  
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>  
        </mat-table>  
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>  
</mat-card>  
</app-main-nav>