<app-main-nav>
    
 <div class="col-md-4 col-xs-12">

  <div class="form-group">
    <label>Select Country</label>
    <select class="form-control" (change)="onChangeCountry($event.target.value)">
      <option *ngFor="let country of countryInfo; let i = index" value="{{i}}">{{country.CountryName}}</option>
    </select>  
  </div>

  <div class="form-group">
      <label>Select State</label>
      <select class="form-control" (change)="onChangeState($event.target.value)">
        <option *ngIf="stateInfo == ''" value="-1">--Select State--</option>
        <option *ngFor="let state of stateInfo; let j = index" value="{{j}}">{{state.StateName}}</option>
      </select>  
  </div>

  <div class="form-group">
      <label>Select City</label>
      <select class="form-control">
          <option *ngIf="cityInfo == ''" value="-1">--Select CIty--</option>
        <option *ngFor="let city of cityInfo; let k = index" value="{{k}}">{{city}}</option>
      </select>  
  </div> 

</div>         


</app-main-nav>