<app-main-nav>
  <mat-card>
    <div class = "example-button-row" >
      <button mat-raised-button color="primary" (click)=catadd()>+ Add</button>
      
      </div>
    
<br>
  <mat-table #Table [dataSource]="category1" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Weight Column -->
    
    <!-- Category Id -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> Category Id </mat-header-cell>
      <mat-cell *matCellDef="let category"> {{category.id}} </mat-cell>
    </ng-container>
    <!--Category-->
    <ng-container matColumnDef="Category_name">
      <mat-header-cell *matHeaderCellDef> Category Name </mat-header-cell>
      <mat-cell *matCellDef="let category"> {{category.Category_name}} </mat-cell>
    </ng-container>
    <!--Actions-->
    <ng-container matColumnDef="Actions">
      <mat-header-cell *matHeaderCellDef>Actions </mat-header-cell>
      <mat-cell *matCellDef="let category">       
       <button mat-button ><i class="material-icons icon-blue edt " (click)="catedit(category)">edit</i></button>
        <button mat-button ><i class="material-icons icon-red " (click)="delete(category)">delete</i></button></mat-cell>
    </ng-container> 

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <div class="page">
   <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> 
  </div>
</mat-card>
</app-main-nav>